:root {
    --main-color:#1992d4;
    --second-color:#e2e8f0;
    --third-color: #f0b120;
    --fourth-color:#ffffff;
}

body {
    box-sizing: border-box;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

.container {
    display: grid;
    grid-template-columns: 1fr 6fr;
    grid-template-rows: 1fr 6fr;
    width: 100vw;
    height: 100vh;
}

aside {
    grid-column: 1 / 2;
    grid-row: 1 / 3;
    background-color: var(--main-color);
    display: flex;
    flex-direction: column;
    font-weight: bold;
}

aside img {
    filter: invert(100%) sepia(1%) saturate(2%) hue-rotate(37deg) brightness(108%) contrast(100%);
    margin-right: 10px;
}


.title {
    display: flex;
    color: var(--fourth-color);
    align-items: center;
    justify-content: center;
    font-size: 20px;
}

.navigation, .account {
    display: flex;
    flex-direction: column;
    color: var(--fourth-color);
    font-size: 15px;
    justify-content: center;
    margin-top: 30px;
}

.navigationElement, .accountElement {
    display: flex;
    justify-content: start;
    align-items: center;
    margin-left: 20px;
    gap: 10px;
}


header {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    background-color: var(--fourth-color);
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 2fr;
}

header .logo {
    width: 50px;
}

header p, header h1, header img {
    display: inline;
}

.search {
    display: grid;
    grid-template-columns: 2fr 1fr;
}

.firstPart {
    display: flex;
    align-items: center;
    justify-content: baseline;
    margin-right: 10px;
    
}

.firstPart input {
    flex-grow: 1;
    border-radius: 12px;
    background-color: var(--second-color);
    border: 0px;
}

.firstPart img {
    margin-left: 20px;
    margin-right: 10px;
}

.secondPart {
    display: flex;
    justify-content: space-between;
    font-weight: bold;
    align-items: center;
}

.secondPart .logo {
    width: 35px;
}

.alarm {
    margin-left: 20px;
}

.secondPart .name {
    margin-right: 20px;
}

.greeting {
    display: grid;
    grid-template-columns: 1fr 2fr;
}

.greetingFirst {
    display: flex;
    align-items: center;
    justify-content: baseline;
    gap: 10px;
}

.greetingFirst img {
    margin-left: 20px;
    margin-right: 5px;
    width: 60px;
}

.greetingFirst h1 {
    font-size: 20px;
    font-weight: bold;
    margin-top: 0px;
}

.greetingFirst p {
    font-size: 10px;
    font-weight: bold;
    margin-bottom: 0px;
}

.welcome {
    display: flex;
    flex-direction: column;
}

.greetingSecond {
    display: flex;
    align-items: center;
    justify-content: center;
}

.greetingSecond button {
    background-color: var(--main-color);
    border-radius: 15px;
    color: #ffffff;
    border: 0px;
    width: 150px;
    height: auto;
    font-size: 20px;
    margin-right: 15px;
    padding: 5px;
}


main {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    background-color: var(--second-color);
}